/************************************************** ESPACIO MENU **************************************************/
.menuDesplegable {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #000000;
    min-width: 80px;
    z-index: 0;
    font-size: 17px;
    transition: opacity 0.3s ease visibility 0.3s ease;
    border: 0px solid #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/*para que al pasar el mouse se despliegue el menu y muestre las opciones*/
.barraNavegacion:hover .menuDesplegable {
    visibility: visible;
    opacity: 1;
    animation: slideDown 0.3s ease forwards;
}

/*estilo para los elementos del menú desplegable*/
.menuDesplegable a {
    color: white;
    padding: 10px 15px;
    display: block;
    font-size: 22px;
    
}

.menuDesplegable a:hover {
    background-color: rgba(7, 187, 187, 0.582);
}

/************************************************* BARRA DE NAVEGACION **************************************************/
nav {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    margin-top: -15px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/****************************************************** HEADER *******************************************************/
header {
    color: rgb(210, 228, 230);
    font-size: 40px;
    text-align: center;
    background-image: url(img_integrador/img\ cortada2.jpg);
    text-shadow:
        4px -3px 0 #000000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    margin-bottom: -55px;
    margin-top: -50px;
}


/************************************************************ BODY ************************************************************/
body {
    background-image: url(img_integrador/50s-Wallpaper-retro3.jpg);
    background-attachment: fixed;
    backg
}

#parrafoIntro {
    background-color: rgba(0, 0, 0, 0.514);
    color: rgba(255, 255, 255, 0.856);
    font-size: 20px;
    margin-bottom: 20px;
}

/********************************************** CONTENEDOR DE IMAGEN,TITULO Y PARRAFO(img izq -text derecha) ***********************************************/
.contenedorImgText {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.textImgDerecha { /*CONTIENE TAMBIEN EL TITULO DE LA IMG*/
    display: inline-block;
    padding: 5px 10px;
    color: rgba(255, 255, 255, 0.856);
    font-size: 20px;
    margin-left: 20px;
}

.img1 {
    display: block;
    margin: 0;
}


.titulosDER {
    color: rgba(255, 255, 255, 0.938);
    background-color: rgba(0, 0, 0, 0.514);
    padding: 10px;
    margin: 0;
    display: inline-block;
    border-radius: 30%;
}

.fondoParrafos {
    background-color: rgba(0, 0, 0, 0.616);
}


/********************************** CONTENEDOR DE IMAGEN,TITULO Y PARRAFO(img DERECHA - text IZUIERDA) ***********************************************/
.contenedorImgText2 {
    display: flex;
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    margin-bottom: 20px;
}

.textImgDerecha2 {
    display: inline-block;
    padding: 5px 10px;
    color: rgba(255, 255, 255, 0.856);
    font-size: 20px;
    margin-right: 20px; /* Cambié de margin-left a margin-right */
}

.img {
    display: block;
    margin: 0; /* Asegúrate de que la imagen no tenga margen */
}

.titulosIZQ {
    color: rgba(255, 255, 255, 0.938);
    background-color: rgba(0, 0, 0, 0.514);
    padding: 10px;
    margin: 0;
    display: inline-block;
    border-radius: 30%;
}

.fondoParrafosIZQ {
    background-color: rgba(0, 0, 0, 0.616);
}

.fondoParrafos2 {
    background-color: rgba(0, 0, 0, 0.616);
    display: block;
    padding: 5px 10px;
    color: rgba(255, 255, 255, 0.856);
    font-size: 20px;
    margin-right: 20px;
}


/********************************** PARA EL TABLE DE IMAGENES ***********************************************/
.table1IMG {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: rgba(214, 212, 101, 0.856);
    font-size: 30px;
}

.columna {
    flex: 1;
    margin: 0 10px;
}

.cadaIMG {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cadaIMG img {
    border: 2px solid #000;
    margin-right: 10px;
}