/*estilo del parrafo de presentacion*/
#intro{
    background-color: rgba(0, 0, 0, 0.514);
    color: rgba(255, 255, 255, 0.856);
    font-size: 20px;
}




/************************************************** ESPACIO MENU **************************************************/

/* para mejorar el menu desplegable */
.menuDesplegable {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 80px;
    z-index: 0;
    font-size: 17px;
    opacity: 0; /* Añadido */
    transition: opacity 0.3s ease; /* Añadido */
}

/*para desplegar el menu y que muestre las opciones*/
.cajaMenuDesp:hover .menuDesplegable {
    display: block;
    opacity: 1;
}



/************************************************* BARRA DE NAVEGACION **************************************************/
/*estilo para todo el contenedor de la barra de navegacion*/
nav {
    display: flex;
    justify-content: center;
    background-color: #000000ee;
    font-size: 20px;
    border-top: 10px;
}

/*estilo para los textos relativos a "A"*/
nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    margin-top: -15px;
}


/****************************************************** HEADER *******************************************************/
header {
    color: rgb(210, 228, 230);
    font-size: 40px;
    text-align: center;
    background-image: url(img_integrador/img\ cortada2.jpg);
    text-shadow: 
        4px -3px 0 #000000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    margin-bottom: -55px;
    margin-top: -50px;
}


/************************************************************ BODY ************************************************************/
body {
    background-image: url(img_integrador/50s-Wallpaper-retro2.jpg);
}


/*estilo del parrafo de presentacion*/
#intro{
    background-color: rgba(0, 0, 0, 0.514);
    color: rgba(255, 255, 255, 0.856);
    font-size: 20px;
}



/***************************************************** IMG izquierda + TEXTO derecha ******************************************************/
/*para aplicar el style sobre el parrafo de cada img*/
.textImgDerecha {
    background-color: rgba(0, 0, 0, 0.514);
    color: rgba(255, 255, 255, 0.856);
    font-size: 20px;
    padding: 10px;
    display: flex;
}

/* Contenedor para imagen y texto */
.contImgText {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

/*para darle una ubicacion ala img cargada*/
.img1 {
    display: block;
    margin: 0;
}

/*color de texto de los titulos que acomáñan cada img*/
.textTitulosBody {
    color: rgba(255, 255, 255, 0.938);
    background-color: #00000044;
    display: inline-block;
    padding: 10px;
    }
    