body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    margin: 0;
    padding: 0;
    color: #E0E0E0;
}

header {
    background-color: #1E1E1E;
    color: #FFAB40;
    padding: 30px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

header h1 {
    margin: 0;
    font-size: 2.8em;
}

/* nav {
    margin-top: 15px;
}

nav ul li a {
    color: #FFAB40;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #FFC107;
} */

#home {
    background-color: #121212; /* Color igual al del body */
    color: #E0E0E0; /* Color de texto */
    text-align: center;
    padding: 100px 20px;
    position: relative;
}



.home-content {
    background-color: rgba(25, 25, 25, 0.8);
    padding: 50px;
    border-radius: 12px;
    max-width: 900px;
    margin: auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

#home h2 {
    font-size: 3rem;
    margin-bottom: 25px;
    color: #FFAB40;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

#home p {
    font-size: 1.1rem;
    margin-bottom: 25px;
}

.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 15px 30px;
    background-color: #FFAB40;
    color: #121212;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

.btn:hover {
    background-color: #FFC107;
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

#productos {
    padding: 30px;
    background-color: #1E1E1E;
    text-align: center;
}

#productos h2 {
    color: #FFAB40;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.producto-list {
    margin-bottom: 50px;
    background-color: #2A2A2A;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.producto-list h3 {
    font-size: 2rem;
    color: #FF5733;
    margin-bottom: 15px;
}

.producto {
    border: 1px solid #444;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #1E1E1E;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    width: 450px;
    margin-left: auto;
    margin-right: auto;
}

.producto img {
    width: 100%;
    max-width: 220px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    object-fit: contain;
}

.producto h4 {
    font-size: 1.5rem;
    margin-bottom: 8px;
    color: #E0E0E0;
}

.producto p {
    font-size: 0.95rem;
    color: #B0BEC5;
    margin: 5px 0;
}

#iphone, #samsung, #motorola, #TCL {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 768px) {
    #iphone, #samsung, #motorola, #TCL {
        flex-direction: column;
        align-items: center;
    }

    .producto {
        width: 90%;
    }
}

#carrousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    overflow: hidden;
}

#carrousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: calc(300px * 12);
}

.carrousel-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    flex-shrink: 0;
}

#prev, #next {
    background-color: rgba(255, 171, 64, 0.8);
    color: #121212;
    border: none;
    cursor: pointer;
    padding: 12px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

#prev {
    left: 15px;
}

#next {
    right: 15px;
}

/************************************************** ESPACIO MENU **************************************************/
.menuDesplegable {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #242121b6;
    min-width: 80px;
    z-index: 0;
    font-size: 17px;
    transition: opacity 0.3s ease visibility 0.3s ease;
    border: 0px solid #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/*para que al pasar el mouse se despliegue el menu y muestre las opciones*/
.barraNavegacion:hover .menuDesplegable {
    visibility: visible;
    opacity: 1;
    animation: slideDown 0.3s ease forwards;
}

/*estilo para los elementos del menú desplegable*/
.menuDesplegable a {
    color: white;
    padding: 10px 15px;
    display: block;
    font-size: 22px;
    
}

.menuDesplegable a:hover {
    /* background-color: rgba(7, 187, 187, 0.582); */
    background-color: rgba(187, 115, 7, 0.582);
    color: #c5c5c5;

}

/************************************************* BARRA DE NAVEGACION **************************************************/
nav {
    display: flex;
    justify-content: center;
    background-color: rgba(48, 46, 46, 0.541);
    font-size: 20px;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s;
}

nav a {
    color: #FFAB40;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    margin-top: -15px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: rgba(46, 44, 44, 0.2);
}